body {
  background: #f6f0e9;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  border: 3px solid #2b51ed;
}
.App{
   margin: 0 auto;
}
.tab-bar {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 3px;
  margin: 0 auto;
  background-color: #2b51ed;
  color: white;
width: 100%;
box-sizing: border-box;
  
}

.tab-bar p {
  padding-top: 3px;
  font-weight: bold;
}

.tab-bar i {
  padding: 8px;
}

.delina-link{
   color: white;
}