.Dictionary h1 {
  font-size: 56px;
  font-weight: bold;
color: #2b51ed;
  letter-spacing: 0.15px;
  font-family: "Pixelify Sans", sans-serif;
  text-align: center;

}


.Dictionary h4{
    text-align: center;
   
}

.Dictionary form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
 
}
.Dictionary input {
  width: 55%;
  padding: 15px 20px;
  color: #333;
  border: 1px solid #2b51ed;
  border-radius: 20px;
  margin-right: 10px;
  text-align: center;
}

.Dictionary input:hover,
input:focus {
  border: 2px solid #2b51ed;
  color: black;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
  text-align: center;
}

.Dictionary section {
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  border: 2px solid #2b51ed;
 
}


